h1 We Stand for a Welcoming Community</h1>
p During the last weekend, several events have shaken the Ruby community. We feel that due to the gravity of these issues, a direct statement in addition to those of individual members of the Ruby Berlin e.V. is necessary.</p>
p This boils down to 4 points</p>

ul
  li We are against harassment and ignorance
  li We are for diversity
  li We are not in this for the drinks
  li We care

h2 Against Harassment and Ignorance
p Two incidents caught our eye this weekend (in the order they came to our knowledge):
p A RailsBridge member wrote a mild rant about <a href="http://devandpencil.herokuapp.com/blog/2013/10/09/being-an-asshole-does-not-make-you-awesome/">inappropriate</a> gem <a href="http://devandpencil.herokuapp.com/blog/2013/10/14/offending-gem-names-drawing-the-line/">names</a>. It fostered a healthy debate, but he was also attacked and subsequently banned from the Ruby Facebook group by an administrator citing Mykeru&#39;s law for having posted a link. We distance ourselves from this group and we will recommend leaving it until there has been a change of administration.
p A community member came out about <a href="http://blogjustine.wordpress.com/2013/10/12/because-it-needs-to-be-said/">her harassment experience</a> (heed the trigger warnings given in the post) at a conference, backed by two <a href="http://theotherzach.com/writes/2013/10/9/events">colleagues&#39;</a> <a href="http://blog.matt-darby.com/essays/i-am-the-other-developer">accounts</a>. Sadly, instead of seeing this as a clear reminder that such things are a sad reality, quite a few people took the opportunity to shame Justine or come up with crude interpretations, if not outright insults or threats. We are shocked by the lack of empathy in those reactions. We thank Justine for speaking up.
p We all joined the Ruby community because it is a warm and welcoming place - sadly, the aforementioned events draw a very different and very real picture. This is why we feel the need to speak out:
p We strongly oppose any form of harassment or discrimination, including, but not limited to, all forms of sexism and racism.

h2 For Diversity
p The Ruby Berlin e.V. member roster is very diverse and we are proud to carry that outwards. All events run by Ruby Berlin e.V. in recent years have been run under a Code of Conduct. This has been taken seriously and underlined by additional actions such as running CFPs that ensure a diverse set of speakers and by providing childcare and significant others tickets to accommodate families. Our role of community organisers is first and foremost to provide safe and enjoyable spaces for people to exchange ideas and master their craft.
p We will try to lobby other organisations in the Ruby space to make similar announcements.
p We would like to reach out to anyone organising community events, not only in the Ruby space, to help tackle the problems that affect our community. Though imperfect, we do have a few things worked out and are happy to share. We are proud of what we have achieved so far and will strive to make our values known and accepted to make such incidents a thing of the past.

h2 We are Not in this for the Drinks
p Yet, over the same weekend, one healthy discussion has taken place: rethinking &quot;Drinkups&quot;. Quite a few people have come out publicly, criticising the drinking-focused evening culture present at meetups and conferences, stressing that they did not feel welcome at the evening events. We have, through Rails Girls and eurucamp, experimented with different forms of organising the evenings and will continue to do so.
p We will review our way of organising parties and gatherings and come up with proper solutions and guidelines for our events and announce these well before our next event. We certainly don&#39;t want to patronise attendees, but we do want to ensure that everybody feels welcome and has a good time. We appreciate feedback very much and welcome constructive suggestions.

h2 We Care
p Over the last few years, we have organised many gatherings and brought joy to a lot of people. We can safely say that everyone we have worked with as Ruby Berlin e.V. is humble and caring and would go to great lengths to make the Ruby community a welcoming one. Our mission is to foster that part of the community.
