h1 Las Vegas Ruby Users Group (LVRUG) Code of Conduct

h2 Summary
p LVRUG is dedicated to providing a welcoming and harassment-free experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, or religion. Sexual language and imagery is not appropriate for any event venue, including talks, workshops, classroom/hacknight session, mailing lists, or other online media.

h2 What Defines Harassment?
p Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
p Participants asked to stop any harassing behavior are expected to comply immediately. Any event participant who engages in harassing behavior may be asked to leave the event.

h2 If You Need Help
p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the organizer team immediately. Members of the organizer team are introduced at the start of each event.

If the matter is especially urgent, please contact either of these individuals:

ul
  li Brian Hughes: brian@brianvhughes.com, @brianvhughes
  li Paul Grayson: 
  li David Grayson:
  li Russ Smith: russ@bashme.org
  li Jason Arhart:

p The organizer team will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance and are committed to your safety and security.

h2 Feedback
p If you have questions or comments regarding our code of conduct, please email us at feedback@lvrug.org .
