* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  color: #e8f1eb;
  background: #5f6561;
  padding: 0 0 100px;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 500;
  margin-top: 1em;
}

ul {
  margin-left: 2em;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.content a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

#logo {
  display: block;
  margin: 50px auto;
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
  color: #a7b4ac;
  border-top: 1px solid #a7b4ac;
  text-align: center;
  font-size: .75em;
}
